@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.header_item {
  margin: 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  position: static;
  text-align: center;
  color: black;
}

/* mapa para seguir implementando el each*/
/* tengo que seguirlo */
.p span {
  display: block;
}

.redes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.fondo {
  background-color: white;
}

.title {
  font-family: 'Bebas Neue', cursive;
  position: static;
  text-align: center;
  color: black;
  font-size: 5rem;
}

.description {
  font-family: 'Bebas Neue', cursive;
  position: static;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.title--forevents {
  font-family: 'Bebas Neue', cursive;
  position: static;
  text-align: center;
  color: black;
  font-size: 2rem;
}

.locationimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.eventslist {
  font-family: 'Bebas Neue', cursive;
  font-size: 15mp;
  color: white;
  text-align: center;
}

.fondoevents {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 1rem;
}

.gallery img {
  width: 100%;
}

.gallery img:nth-child(1) {
  grid-column: 2 stan 4;
}

.connectlist {
  font-family: 'Bebas Neue', cursive;
  font-size: 15mp;
  color: white;
  text-align: center;
  background-color: white;
  list-style: none;
}

.fondoconnect {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.commentscolortext {
  color: black;
}

.fondoform {
  background-size: cover;
  background-color: #D8E2DC;
}

.separador {
  background-color: black;
  height: 8px;
  border: none;
}

.fondo2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14mp;
  color: white;
  text-align: center;
}

.fondomanagement {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.miembros_contenedor {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.miembros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.miembros_img {
  width: 100%;
  border-radius: 50%;
  max-width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  border: 2px solid beige;
}

.miembros_title {
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title_tickets {
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle_tickets {
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery_tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parrafo_tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.locationbutton {
  text-align: center;
}

.fondo_tickets {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8e2dc), to(white));
  background-image: linear-gradient(to bottom, #d8e2dc, white);
  height: 100%;
}

.htmlfondotickets {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8e2dc), to(white));
  background-image: linear-gradient(to bottom, #d8e2dc, white);
}

.btn_submit {
  position: relative;
  bottom: 18px;
}

.btn_clear {
  position: relative;
  bottom: 18px;
}

/* aquí empieza mi mobile first */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 4rem;
    row-gap: 2rem;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem;
    row-gap: 2rem;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  .miembros_contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
  }
  .header_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fondoevents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fondomanagement {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fondoconnect {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=main.css.map */