.header{
    flex-wrap: wrap;
    position:fixed; 
    justify-content: center;

    &_list{
        display:flex;
        justify-content:center;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }

    &_item{
        margin:10px 10px;
        font-family: 'Roboto', sans-serif;
    }        
}